.ml-5 {
	margin-left: 5%;
}

.mt-5 {
	margin-top: 5%;
}

.botones {
	height: 70px;
}

.total {
    background-color: black;
    color: #FF7043 ;
    padding: 10px;
    border-radius: 50%;
}
#species{
	display: block;
	border-color: #880e4f;
}